.sparkle__wrapper {
  position: absolute;
  display: block;
  animation: comeInOut 700ms forwards;
}
.sparkle__svg {
  display: block;
  animation: spin 1000ms linear;
}
.sparkle {
  display: inline-block;
  position: relative;
  z-index: 1;
}

@keyframes comeInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 186, 0);
  }
  100% {
    transform: rotate(180deg);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 186, 1);
  }
}
