.sparkle__wrapper {
  position: absolute;
  display: inline-block;
  animation: comeInOut 700ms forwards;
}

.sparkle__svg {
  display: block;
  animation: rotate 1000ms linear;
  filter: drop-shadow(0 0 10px rgba(255, 255, 186, 1));
}

.sparkle {
  display: inline-block;
  position: relative;
  z-index: 1;
}

@keyframes comeInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
